.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .button {
    position: absolute;
    margin-top: 500px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: bold;
  }
  
  @media (min-width: 1700px) {
    .button {
      margin-top: 700px;
    }
  }
  
  @media (max-width: 1023px) {
    .image {
      content: url("http://localhost:3000/img/404-s.jpg"); 
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .button {
        margin-top: 400px;
    }
  }

  @media (max-width: 579px) {
    .image {
        content: url("http://localhost:3000/img/404-xs.jpg"); 
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .button {
        margin-bottom: 600px;
    }
      
  }
  